
/* Los estilos de tu proyecto */
* {
  overflow-x: hidden;
}
.navbar-edit {
  border: none;
  background-color: #fff;
}


.carsImg {
  background-image: url(../assets/images/taxi.jpg);
  height: 100vh;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 8em;
  padding: 1em;
  background-color: #F7B617;
  color: #fff;
}

.btn {
  color: #000;
  background-color: #fff;
  border: none;
}

.iphone, .map {
  background-color: #F7B617;
  color: #FFF;
  height: 35em;
}

.clock {
  background-image: url(../assets/images/conduce.jpg);
  height: 35em;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.clock, .btn {
  background-color: #F7B617;
  color: #fff;
}

.clock {
  height: 35em;
}
.opacidad {
  background-color: rgba(0,0,0,0.6);
  height: 35em;
}

.form-control {
  background-color: transparent;
  border: 1px solid #fff;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */