
* {
  overflow-x: hidden;
}

/*Sección header*/
.navbar-edit {
  border: none;
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;

}

/*Imagen de fondo primera sección*/
.carsImg {
  background-image: url(../assets/images/taxi.jpg);
  height: 100vh;
  background-position: bottom;
  height: 65em;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.img-center {
  margin-left: 1em;
}

/*Formulario amarillo primera sección*/
.jumbotron {
  margin-top: 18em;
  padding: 2em;
  background-color: #F7B617;
  color: #fff;

}

.jumbotron .btn {
  color: #000;
  background-color: #fff;
  border: none;
}

.centerText {
  text-align: center;
  border-bottom: 0.1em solid #fff;
}

small {
  background-color: #F7B617;
  position: relative;
}

/*Segunda sección, Iphone*/
.iphone {
  background-color: #F7B617;
  color: #FFF;
  height: 100%;
  overflow-y: hidden;
}

.borde {
  margin-top: 4em;
  margin-bottom: 4em;
  border: 0.1em solid #fff;
  padding: 3em;
}

/*Imágen Iphone 6*/
.iphone6 {
  height: 27em;
}

.borderIphone {
  border: 0.1em solid #fff;
  margin: 1em;
  padding: 3em;
  overflow-y: hidden;
}

.borderIphone p {
  text-align: center;
  
}

.iphoneMovil {
  width: 15em;
  margin-right: 0;
}


/*Tercera sección chofer*/
.clock {
  background-image: url(../assets/images/conduce.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.clock .btn {
  background-color: #F7B617;
  color: #fff;
}

/*Texto costado derecho imagen chofer*/
.opacidad {
  color: #e5e0e0;
  background-color: rgba(0,0,0,0.6);
  height: 100vh;
}

/*Tercera sección mapa*/
.map {
  background-color: #F7B617;
  color: #FFF;
  width: 100%;
  overflow-y: hidden;
}

h3 {
  overflow-y: hidden;
}

.form-control {
  background-color: transparent;
  border: 1px solid #fff;
}

/*Cambio de color placeholder*/
.form-control::-webkit-input-placeholder {
  color: white;
}/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: white;
}/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: white;
}/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: white;
}/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: white;
}/* Microsoft Edge */

.marginMap {
  padding: 7%;
}

/*Mapa*/
.imgMap{
  width: 100%;
}

.borderMap {
  border: 0.1em solid #fff;
  padding: 0.8em;

}

.borderMap, .map, .line {
  overflow-y: hidden;
}

/*Pie de página*/
footer {
  background-color: #2B2B2B;
  color: #fff;
}

.line, .imgLine {
  border-bottom: 0.1em solid #fff;
  padding: 1em 0;
}

.imgLine {
  padding-top: 7%;
}

footer a {
  display: block;
  padding-top: 1.5em;
  color: #e5e0e0;
}

.icons {
  margin-bottom: 0.5em solid #fff;
  padding-bottom: 1em;
}

footer p {
  padding-top: 1em;
  padding-bottom: 7%;
}

.logos {
  margin-top: 10em;
}

.logo {
  padding-top: 2em;
}

.fa {
  padding-right: 0.5em;
}

.iconMovil {
  padding-top: 1em;
}

/*Primer modal*/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
} 

.login-help{
  padding-top: 1em;
}

.fondoModal1 {
  background-color: #08AC9D
}